/MVTec/
/mvtec_loco_anomaly_detection/
/MPDD/
/results/
/rounds/
/save_checkpoints/
/support_set/
/mpdd_supp_set
support_set.tar
__pycache__/
*.pt
/rounds/
/old rounds/
/logs_mpdd/
/logs_mvtec/
/heatmaps/
/utils/original_images